.img-c {
    object-fit: cover;
    height: 60px;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card {
    display: inline-block;
    width: 95px;
    text-decoration: none;
    color: black;
    border: none;
}
.small-c {
    font-size: 9pt;
}
.logo-img {
    width: 180px;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.img-fluid {
    height: 250px;
    object-fit: cover;
}
.yes-wrap {
    white-space: normal;
}
.input-marka {
    display: flex;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    border-radius: .375rem;
    cursor: pointer;
}
.card-marks {
    background-color: #3a3a6514;
    width: 23.6%;
    height: 70pt;
    border-radius: 8px;
    cursor: pointer;
}
.card-year {
    width: 23.6%;
    height: 27pt;
    padding-left: 5pt;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}
.card-marks:hover {
    border-color: blue !important;
}
.card-year:hover {
    color: blue;
}
.btn-close-auto {
    position: absolute;
    right: 0px;
}
.btn-out {
    color: black;
}
.btn-out:hover {
    color: white ;
}
.border-right-none {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.border-left-none {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn-city {
    cursor: pointer;
    border-radius: 5px;
}
.btn-city:hover {
    background-color: rgba(95, 129, 240, 0.323);
}
.carousel-img {
    width: 650px;
    height: 500px;
    object-fit: cover;
}
.btn-width {
    width: 300px;
}
.d-flex-laptop {
    display: flex;
    gap: 25px;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.realty-name {
    font-weight: bold;
    margin-bottom: 16px;
}
.realty-price {
    font-weight: bold;
}
.d-flex-button {
    display: flex;
    flex-direction: column;
}
.fs-specifications {
    font-size: 13pt;
}
.height-specifications {
    height: 140pt;
    width: 400px;
}
.no-wrap {
    white-space: nowrap;
}
.pe-text {
    padding-right: 30px;
}
.width-blocks {
    width: 277px;
}
.w-700 {
    width: 700px;
}
.d-flex-tel {
    display: flex;
}
.d-flex-tel-job {
    display: flex;
}
.width-textarea {
    height: 250px;
    width: 700px
}
@media (min-width: 1400px) {
    .cards {
        width: 24.5% !important;
    }
}
@media (max-width: 1400px) {
    .cards {
        width: 32.8%;
    }
}
@media (max-width: 1199.5px) {
    .cards {
        width: 32.7%;
    }
    .btn-width {
        width: auto;
    }
}
@media (max-width: 991.5px) {
    .cards {
        width: 49.4% !important;
    }
    .d-tel-none {
        display: none;
    }
    .d-flex-laptop {
        flex-direction: column;
        gap: 10px;
    }
    .carousel-img {
        width: 100%;
    }
    .d-flex-column {
        display: flex;
        flex-direction: column-reverse;
    }
    .realty-name {
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 22px;
    }
    .realty-price {
        font-size: 24px;
    }
    .d-flex-button {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .btn-width {
        width: 50%;
    }
}
@media (max-width: 767.5px) {
    .cards {
        width: 100% !important;
    }
    .height-specifications {
        height: auto;
        width: auto;
    }
    .w-700 {
        width: 100%;
    }
    .width-textarea {
        height: 250px;
        width: 100%;
    }
    .d-flex-tel-job {
        flex-direction: column;
    }
    .w-job {
        width: 100%;
    }
    .w-423 {
        width: 100%;
    }
}
@media (min-width: 767.5px) {
    .w-job {
        margin-left: auto;  
        width: 400px;
    }
    .w-423 {
        width: 423px;
    }
}
@media (min-width: 700px) {
    .logo {
        margin-right: 1.5rem !important;
    }
}
@media (max-width: 700px) {
    .logo {
        width: 100%;
        display: flex;
    }
    .main-search {
        width: 100%;
    }
    .btn-main {
        width: 100%;
    }
    .text-logo {
        justify-content: center;
    }
    .btn-custom {
        width: 100%;
    }
    .img-slider {
        object-fit: cover;
        height: 180px;
    }
}
@media (max-width: 577px) {
    .d-flex-tel {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 485px) {
    .card-marks {
        width: 31.8%;
    }
}
@media (max-width: 410px) {
    .card-marks {
        width: 48.5%;
    }
}